<h1 *ngIf="!isChange" mat-dialog-title>Adicionar Novo Piloto</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Piloto</h1>
<div mat-dialog-content>

  <mat-form-field *ngIf="isChange" appearance="fill">
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="data.pilotoId">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Idade</mat-label>
    <input matInput [(ngModel)]="data.idade">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Planeta Natal</mat-label>
    <input matInput [(ngModel)]="data.planetaNatal">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button *ngIf="!isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Criar</button>
  <button *ngIf="isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>

