<div class="container">

    <button class="button" mat-button (click)="openDialog(null)">Adicionar Novo Piloto</button><br><br>

    <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="pilotoId">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.pilotoId}} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="idade">
            <th mat-header-cell *matHeaderCellDef> Idade </th>
            <td mat-cell *matCellDef="let element"> {{element.idade}} </td>
        </ng-container>

        <ng-container matColumnDef="planetaNatal">
            <th mat-header-cell *matHeaderCellDef> Planeta Natal </th>
            <td mat-cell *matCellDef="let element"> {{element.planetaNatal}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ação</th>
            <td td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editPiloto(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deletePiloto(element.pilotoId)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>